<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <div class="display">
            <input id="name" name="name" required />
            <button id="hello">Hello!</button>
            <button id="bye">Bye!</button><br>
            <div id="response"></div>
        </div>
    </body>
</html>

<script>

const helloButton = document.querySelector('#hello');
helloButton.addEventListener('click', () => {
    fetch('/hello', {
        method: "POST",
        body: JSON.stringify({
            name: document.querySelector('#name').value
        }),
        headers: {
            "Content-Type": "application/json"
        },
    })
    .then(response => {
        return response.json()
    })
    .then(jsonData => {
        document.querySelector('#response').innerHTML = jsonData.response
    })
})

const byeButton = document.querySelector('#bye');
byeButton.addEventListener('click', () => {
    fetch('/bye', {
        method: "POST",
        body: JSON.stringify({
            name: document.querySelector('#name').value
        }),
        headers: {
            "Content-Type": "application/json"
        },
    })
    .then(response => {
        return response.json()
    })
    .then(jsonData => {
        document.querySelector('#response').innerHTML = jsonData.response
    })
})

</script>

<style>
.display {
    text-align: center;
}

</style>